KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_ASMFLAGS=\
-i $(ARCHDIR)/boot

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot/boot.o \
$(ARCHDIR)/tty/tty.o \
$(ARCHDIR)/pic/pic.o \
$(ARCHDIR)/idt/idt.o \
$(ARCHDIR)/syscall/syscall.o \
$(ARCHDIR)/isr/interrupt.o \
$(ARCHDIR)/isr/isr.o \
$(ARCHDIR)/timer/timer.o \
$(ARCHDIR)/keyboard/keyboard.o \
$(ARCHDIR)/paging/paging.o \
$(ARCHDIR)/arch_init/arch_init.o \
$(ARCHDIR)/serial/serial.o \
$(ARCHDIR)/ata/ata.o \
$(ARCHDIR)/process/process.o \
$(ARCHDIR)/process/start_init.o \
$(ARCHDIR)/process/switch_kernel_context.o \
$(ARCHDIR)/time/time.o \
$(ARCHDIR)/cpu/cpu.o \
$(ARCHDIR)/pci/pci.o \
