KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/interrupt.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/timer.o \
$(ARCHDIR)/keyboard.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/arch_init.o \
$(ARCHDIR)/memory_bitmap.o \
$(ARCHDIR)/heap.o \
