BOOTLOADER_INCLUDES=\
$(ARCHDIR)/print.asm \
$(ARCHDIR)/print_hex.asm \
$(ARCHDIR)/disk.asm \
$(ARCHDIR)/a20.asm \
$(ARCHDIR)/gdt.asm \
$(ARCHDIR)/switch_pm.asm \
$(ARCHDIR)/print_pm.asm \
$(ARCHDIR)/memory.asm \
$(ARCHDIR)/vesa.asm \
$(ARCHDIR)/utility.asm \


BOOTLOADER_ASM=$(ARCHDIR)/bootloader.asm

BOOTLOADER_ARCH_C_OBJS=\
$(ARCHDIR)/ata.o \
$(ARCHDIR)/tty.o

BOOTLOADER_ARCH_ASM_OBJS=\
$(ARCHDIR)/bootloader.o

BOOTLOADER_ARCH_OBJS=\
$(BOOTLOADER_ARCH_ASM_OBJS) \
$(BOOTLOADER_ARCH_C_OBJS)

